body {
    background-color: #0D1117;
    padding: 0;
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    text-align: end;
    padding-left: 150px;
    color: white;
}

.logo img {
    padding-right: 7px;
}

.menu {
    width: 40%;
    padding-left:20px;
    color: #e9eaeb;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

ul li {
    list-style: none;
    cursor: pointer;
}

ul li:hover {
    color: white;
    font-weight: 500;
}

.search {
    width: 30%;
    padding-left: 150px;
}

.search button {
    background-color: #0078d4;
    color: #ffffff;
}

.banner h6 {
    color: #9ba3b4;
}

.buttons button {
    padding: 8px 16px;
    background-color: #0078d4; 
    color: #ffffff;
}

.hero h1 {
    color: #ffffff;
}

.hero h3 {
    color: #e9eaeb;
}