.top {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid lightgray;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 23%;
    padding-right: 20px;
}

.menu {
    width: 30%;
    padding-right: 200px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu ul li {
    list-style: none;
}

button {
    background-color: aqua;
    font-size: 20px;
}
