body {
    background-color: white;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.logo {
    margin-left: 50px;
    border: 1px solid blue;
}

.menu {
    width: 20%;
    text-align: center;
    margin-left: 50px;
    border: 1px solid blue;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-right: 30px;
    align-items: center;
}

.search button {
    padding: 12px 12px;
    border-radius: 25px;
}

.search button i {
    padding-right: 3px;
    padding-left: 3px; 
}


.bookings {
    display: flex;
    justify-content: space-between;
    border: 1px solid darkblue;
    margin-right: 320px;
    margin-left: 320px;
    border-radius: 40px;
    align-items: center;
}

.bookings span button {
    border-radius: 100%;
    padding: 12px 12px 12px 12px;
}

.bookings h5 {
    margin: 0;
}

.bookings span {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background-clip: border-box;
}

.bookings #a {
    border-right: 1px solid gray;
    width: 25%;
    padding-left: 15px;
    padding: 8px 8px 8px 8px;
    
}

.bookings #b {
    border-right: 1px solid gray;
    width: 25%;
    padding-left: 15px;
    padding: 8px 8px 8px 8px;
    
}

.bookings #c {
    border-right: 1px solid gray;
    width: 25%;
    padding-left: 15px;
    padding: 8px 8px 8px 8px;
}

.bookings #d {
    width: 25%;
    padding-left: 15px;
    padding: 12px 12px 12px 12px;
}

.bookings #e {
    padding-right: 5px;
}

.bookings #a:hover {
    cursor: pointer;
    background-color: gray;
    border-radius: 40px;
    text-align: left;
    padding-top: 12.5px;
    padding-bottom: 12px;
}

.bookings #b:hover {
    cursor: pointer;
    background-color: gray;
    border-radius: 40px;
    text-align: left;
    padding-top: 12.5px;
    padding-bottom: 12px;
}

.bookings #c:hover {
    cursor: pointer;
    background-color: gray;
    border-radius: 40px;
    padding-top: 12.5px;
    padding-bottom: 12px;
}

.bookings #d:hover {
    cursor: pointer;
    background-color: gray;
    border-radius: 40px;
    padding-top: 12.5px;
    padding-bottom: 12px;
}

